<div class="row heading">
    <div class="col-2 heading-avatar" (click)="back()">
        <div class="heading-avatar-icon">
            <i *ngIf="isMob" class="fas fa-arrow-left fa-2x"></i>
        </div>
    </div>
    <div class="col-7 heading-name">
      <a class="heading-name-meta">Johnson
      </a>
      <span class="heading-online">Online</span>
    </div>
    <div class="ml-auto col-1 heading-avatar">
        <div class="heading-avatar-icon">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg">
        </div>
    </div>
    <div class="col-1 heading-dot pull-right">
      <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
    </div>
</div>

<div class="row message">
    <div class="col-lg-12">
        <div class="row message-body">
            <div class="col-12 message-main-receiver">
            <div class="receiver">
                <div class="message-text">
                Hi, what are you doing?!
                </div>
                <span class="message-time pull-right">
                Sun
                </span>
            </div>
            </div>
        </div>

        <div class="row message-body">
            <div class="col-12 message-main-sender">
            <div class="sender">
                <div class="message-text">
                I am doing nothing man!
                </div>
                <span class="message-time pull-right">
                Sun
                </span>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row reply">
    <div class="col-1 reply-emojis">
        <i class="far fa-smile-beam fa-2x"></i>
    </div>
    <div class="col-9 reply-main">
        <textarea class="form-control" rows="1" id="comment"></textarea>
    </div>
    <div class="col-1 reply-recording">
        <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-1 reply-send">
        <i class="far fa-paper-plane fa-2x"></i>
    </div>
</div>